@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
}
.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
img {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
} 
.app {
  min-height: 10rem;
  border-radius: 1rem;
  background: rgb(26, 26, 64, .3);
  backdrop-filter: blur(20px);
  padding: 1rem;
}
h1 {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.75rem;
  width: 100%;
  text-align: center;
}
.TodoWrapper {
  width: 100%;
  height: 100%;
}
.TodoForm {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.todo-input {
  border: .2rem solid #DD4366;
  border-radius: .5rem;
  padding: .5rem 1rem;
  width: 20rem;
  background-color: transparent;
  color: #fff;
}
.todo-input::placeholder {
  color: #ffffff4d;
}
.todo-btn {
  background-color: #DD4366;
  border: none;
  border-radius: .5rem;
  padding: 0 .5rem;
  color: #fff;
  cursor: pointer;
}
.TodoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.Todo {
  display: flex;
  justify-content: space-between;
  width: 26rem;
  margin: .5rem 0;
  background-color: #DD4366;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.Todo > p {
  color: #fff9;
  color: 1.2rem;
}
.Todo > div {
  display: flex;
  gap: .5rem;
}
.Todo > div >  i {
  color: #fff6;
  font-size: 1.2rem;
}

@media ( min-width: 1401px ) {
  .app {
    width: 50rem;
    margin: 5rem 2rem 0;
  }
}
@media ( max-width: 1400px ) {
  .app {
    width: 40rem;
    margin: 5rem 2rem 0;
  }
}
@media ( max-width: 690px ) {
  .app {
    width: 100%;
    margin: 5rem 1rem 0;
  }
  h1 {
    font-size: 1.4rem;
  }
  .Todo, .todo-input {
    width: 100%;
  }
}


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
